<div class="center">
  <%= form_for @profile do |t| %>
  <%= t.label :name %>
  <%= t.text_field :name %><br>
  <%= t.label :email, "Email" %>
  <%= t.text_field :email, value: @email %><br>
  <%= t.label :password %>
  <%= t.password_field :password, value: @password %><br>
  <%= t.label :password_confirmation %>
  <%= t.password_field :password_confirmation %>
  <br>
  <br>
  <h2>Preferences:</h2>
    <%= t.label :genital_name, "What do you call your genitals?" %>
    <%= t.text_field :genital_name %><br>
    <%= t.label :anus_name, "What do you call your anus?" %>
    <%= t.text_field :anus_name %><br>
    <%= t.label :pronoun, "What pronouns do you use?" %>
    <%= t.select :pronoun, options_for_select(@pronouns) %>
    <br>
  <%= t.submit %>
  <% end %></div>
