<div class="center">
  <h2>New Profile</h2>
  <hr>
  <%= form_for @profile do |t| %>
  <table>
    <tr>
      <td class="label"><%= t.label :name %></td>
      <td class="input"><%= t.text_field :name %></td>
    </tr>
    <tr>
      <td class="label"><%= t.label :email, "Email" %></td>
      <td class="input"><%= t.text_field :email, value: @email %></td>
    </tr>
    <tr>
      <td class="label"><%= t.label :password %></td>
      <td class="input"><%= t.password_field :password, value: @password %></td>
    </tr>
    <tr>
      <td class="label"><%= t.label :password_confirmation %></td>
      <td class="input"><%= t.password_field :password_confirmation %></td>
    </tr>
  </table>
  <br>
  <h2>Preferences:</h2>
  <hr>
  <table>
    <tr>
      <td class="label">
        <% if session[:user_id] %>
          What do they call their genitals?
        <% else %>
          What do you call your genitals?
        <% end %>
      </td>
      <td class="input"><%= t.text_field :genital_name %></td>
    </tr>
    <tr>
      <td class="label">
        <% if session[:user_id] %>
          What do they call their anus?
        <% else %>
          What do you call your anus?
        <% end %>
      </td>
      <td class="input"><%= t.text_field :anus_name %></td>
    </tr>
    <tr>
      <td class="label"><% if session[:user_id] %>
          What pronouns do they use?
        <% else %>
          What pronouns do you use?
        <% end %></td>
      <td class="input"><%= t.select :pronoun, options_for_select(@pronouns) %></td>
    </tr>
  </table>
  <%= t.submit %>
  <% end %>
</div>
