
<div class="center">
  <h1>
    <%= "Hi there, #{@user.name}. What's new?" %>
  </h1>
  <a href="/encounters/landing">
    <div class="bubble option">
      <%= image_tag "new.png", class: "icon" %>
        <p>I had sex</p>
    </div>
  </a>
  <a href="/partnerships/landing">
    <div class="bubble option">
      <%= image_tag "user-add.png", class: "icon" %>
        <p>I met someone</p>
    </div>
  </a>
  <br>
  <a href=<%= new_sti_test_path %>>
    <div class="bubble option">
      <%= image_tag "lab.png", class: "icon" %>
        <p>I got tested</p>
    </div>
  </a>
  <a href="/track">
    <div class="bubble option">
      <%= image_tag "target.png", class: "icon" %>
        <p>I want to track an infection</p>
    </div>
  </a>
  <br>
  <br>
  <p><%= link_to "Edit profile settings", edit_profile_path(@user) %></p>
</div>
