<div class="login">
	<h1>Log in to BedPost</h1>
	<%= form_for :session, url: login_path, html: {class: "big"} do |f| %>
	<%= f.label :email %>
	<%= f.email_field :email, :placeholder => "Email", :value => flash[:email] %>
	<%= f.label :password %>
	<%= f.password_field :password, :placeholder => "Password" %>
	<%= f.submit "Log in", class: "btn-submit" %>
	<% end %>
</div>
