<%= vuelidate_form_with model: resource, html: {class: "centered", method: :put}, url: registration_path(resource_name) do |f| %>
  <h2><%= t_action(".account_settings") %></h2>
  <%= render  "profiles/fields", f: f, profile: resource, show_name: resource.pronoun.present? do |p| %>
    <%= f.text_field(:uid, {tooltip: true}) unless resource.pronoun.nil? %>
  <% end %>
  <% if resource.pronoun.present? %>
    <h2 class="with-desc"><%= t_action(".security_settings.title") %></h2>
    <p class="description"><%= t_action(".security_settings.desc") %></p>
    <%= f.password_field :current_password, validate: true %>
    <%= f.text_field :email, autocomplete: "email" unless resource.pronoun.nil? %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <%= f.password_field :password, validate: true, required: false %>
    <%= f.password_field :password_confirmation, show_toggle: true, validate: true, required: false %>
  <% end %>
  <%= f.submit %>
<% end %>

<% if resource.pronoun.present? %>
  <div class="centered">
    <h3>Cancel your account</h3>

    <p>Unhappy? <%= confirm_button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>

  <%= link_to "Back", :back %>
<% end %>
