<%= vuelidate_form_with model: resource, html: {class: "centered", method: :put}, vue: {name: resource_name}, url: registration_path(resource_name) do |f| %>
	<h2><%= t_action(".account_settings") %></h2>
	<%= render  "profiles/fields", f: f, profile: resource, show_name: resource.set_up? do |p| %>
		<% if resource.set_up? %>
			<%= f.text_field(:uid, {tooltip: true}) %>
			<%= f.radio_group :opt_in, options: {radio_class: "hidden-radio", group_options: {field_class: "toggler", tooltip: true}} %>
		<% end %>
	<% end %>
	<% if resource.set_up? %>
		<h2 class="with-desc"><%= t_action(".security_settings.title") %></h2>
		<p class="description"><%= t_action(".security_settings.desc") %></p>
		<%= f.password_field :current_password, validate: true %>
		<%= f.text_field :email, autocomplete: "email" unless resource.pronoun.nil? %>
		<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
			<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
		<% end %>
		<%= f.password_field :password, validate: true, required: false %>
		<%= f.password_field :password_confirmation, show_toggle: true, validate: true, required: false %>
	<% end %>
	<%= f.submit :class => "cta" %>
<% end %>

<% if resource.set_up? %>
	<%= vuelidate_form_with scope: :account_delete, html: {class: "centered", method: :delete}, vue: {name: :account_delete}, url: registration_path(resource_name) do |f| %>
		<h2 class="with-desc"><%= t_action(".delete_profile.title") %></h2>
		<p class="description"><%= t_action(".delete_profile.desc") %></p>
		<%= f.password_field :current_password, required: true, show_toggle: true %>
		<%= f.submit t_action(".delete_profile.submit"), :class => "cta" %>
	<% end %>

	<%= link_to "Back", :back, :class => "link" %>
<% end %>
