<div class="center">
  <h2>Edit STI test</h2>
  <hr>
  <%= form_for @sti_test  do |t| %>
    <%= t.label :date_taken, "Date"%>
    <%= t.date_select :date_taken %>
    <br><br>
    <table>
      <% @infections.each do |infection| %>
      <tr>
        <td class="label">
          <%= @diseases.find{|d| d[:name] ==infection.disease.intern}[:readable] %>
        </td>
        <%= t.fields_for :infections, infection do |f| %>
          <td class="input">
            <%= f.select :positive, options_for_select([["", :_destroy], ["Positive", true], ["Negative", false]], infection.positive)%>
            <%= f.hidden_field :disease, value: infection.disease %>
          </td>
        <% end %>
      </tr>
      <% end %>
    </table>
    <br>
    <%= t.submit %>
  <% end %></div>
