<div class="right">
  <div id="wrapper">
    <% @sti_tests.each do |sti_test| %>
      <%= link_to sti_test.date_taken, sti_test_path(sti_test) %><br>
    <% end %>
    <br>
    <br>
    <%= link_to "Add a test", new_sti_test_path %>
  </div>
</div>
<div class="dashes"></div>
<div class="center">

  <ul>
  <% @diseases.each do |disease| %>
  <li>
    <% if disease.risk_window(@user) %>
        <strong><%= disease[:name] %></strong> risk window began:<br>
        <%= " #{disease.risk_window(@user).strftime('%m/%d/%Y')}" %>
    <% else %>
      No test data for <strong><%= disease.name %></strong>; consider getting tested. -->

    <% end %>
  </li><br>
  <% end %>
  <%= link_to "Add a test", new_sti_test_path %>
  </ul>
</div>
