<%= render 'forms/basic_form', back_path: :back, header_text: t('.title') do %>
	<%= vuelidate_form_with scope: :sti_tests, value_include: [{tests_for: []}], class: 'centered' do |f| %>
		<%= f.date_field :tested_on %>
		<dynamic-field-list
			component-type="sti-test-input"
			v-model="vf.formData.tests_for"
			base-name="sti_tests[tests_for]"
			:$v="vf.$v.formData.tests_for"
			:form-data="vf.formData"
			state-class="StiTestState">
			<h2 class="h2--is-form-heading" id="sti-test-form-title"><%= t_action('.tests_title') %></h2>
			<div class="dynamic-field-list--has-sti-test-inputs__column-labels">
				<label id="tested-for-label"><%= t_action('.tested_for') %></label><label id="result-label"><%= t_action('.positive') %></label>
			</div>
			</dynamic-field-list>
		<%= f.submit class: 'cta cta--is-form-submit' %>
	<% end %>
<% end %>
