<div class="center">
  <h2>New STI test</h2>
  <hr>
  <%= form_for @sti_test  do |t| %>
    <%= t.label :date_taken, "Date"%>
    <%= t.date_select :date_taken %>
    <br>
    <br>
    <table>
      <% @diseases.each do |disease| %>
      <%= t.fields_for :infections do |f| %>
        <tr>
          <td class="label"><%= disease[:readable] %></td>
          <td class="input"><%= f.select :positive, "<option value='true'>Positive</option><option value='false'>Negative</option>".html_safe, prompt: "result" %>
            <%= f.hidden_field :disease, value: disease[:name] %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <tr></tr>
    <tr>
      <td class="label"></td>
      <td class="input"><%= t.submit %></td>
    </tr>
  </table>
  <% end %>
</div>
