
<div class="center">
  <h2>Test results from <%= @sti_test.date_taken %><span class="help plus"><a href=<%= edit_sti_test_path(@sti_test) %>><%= image_tag "pencil.png", alt: "edit test" %></a></span></h2><hr>
  <% @infections.each do |infection| %>
  <div class="bubble partner"><strong><%= @diseases.find{|d| d[:name] ==infection.disease.intern}[:readable] %></strong>
    <br>
      <% if infection.positive %>
        <span class="poz">positive</span><br>
        <div class="risk-partners">
          Partners at risk:<br>
          <ul>
            <% @user.partnerships.each do |partnership| %>
              <% if partnership.at_risk?(infection.disease) %>
               <li>
                  <%= partnership.partner.name %><br>
               </li>
              <% end %>
            <% end %>
          </ul>
        </div>

      <% else %>
        <span class="neg">negative</span><br>
        Risk-window began: <%= @user.risk_window(infection.disease).strftime('%m/%d/%Y') %><br>
      <% end %></div>
    <br>
  <% end %>
  <br>
</div>
