
<div class="center">
    <h2>Check your risk of infections: <% if @overdue_list.any? %>
      <span class="help">
        <%= image_tag "warning.png" %>
          <div class="info bubble normal">
            <span class="alert">Warning: </span>
            <br>
            you are overdue for testing for some infections. They are marked in red below.
            <br>To change your preferred testing frequency, <%= link_to "edit your profile settings", edit_profile_path(@user) %>.
          </div>
        </span>
      </h2>
    <% end %>
    <br>
    <ul>
      <% @categories.each do |category, info| %>
        <li class="bubble">
          <span class="category"><strong><%= category.upcase %></strong>
          <br>
          <%= info[:description] %></span>
          <ul class="scroller">
            <% info[:diseases].each do |disease| %>
              <% if @overdue_list.include?(disease) %>
              <li class="disease alert">
              <% else %>
              <li class="disease">
              <% end %>
                <%= @diseases.find{|d| d[:name] == disease}[:readable]%>
                <span class="risk">— at risk from:
                  <% if @user.risk_window(disease) %>
                    <%= time_ago_in_words(@user.risk_window(disease)) %> ago, on <%= @user.risk_window(disease).strftime('%m/%d/%Y') %>
                  <% else %>
                    unknown. Consider yourself at risk and get tested.
                  <% end %>
                  </span></li>

            <% end %>
          </ul>
        </li>
        <br>
      <% end %>
    </ul>
</div>
