<% body_class 'is-dark-contrast vertical-center' %>
<% content_for :main_class, "container--has-form" %>
<% content_for :inner_class, 'container--is-full-height container--has-centered-child' %>
<div id="terms-of-use" class="container--is-full-height container--has-centered-child container--has-centered-child__centered-child">
	<h1 class="heading--has-no-top-margin h1--is-form-title"><%= t @terms.type, scope: 'terms.show.title' %></h1>
	<% if @new_terms %>
		<p class="container--has-centered-text desc"><%= t('.new') %></p>
	<% end %>
	<div class="container--has-white-background container--is-card container--has-centered-child__centered-child container--is-scrollable">
		<p class="container--has-centered-text"><%= t('.last_updated', updated: l(@terms.updated_at, format: :long_date)) %></p>
		<%= @terms.terms.html_safe %>
	</div>
</div>
<p class="container--has-centered-text"><%= t('.read_privacy_html') %></p>
<% unless @is_accepted || @not_form %>
	<%= vuelidate_form_with scope: :terms, method: :put  do |f| %>
		<%= f.radio_group :acceptance, options: {radio_class: "hidden-radio hidden-radio--cta", group_options: {field_class: "toggler", validators: [{kind: :acceptance}]}} %>
		<% if @terms.type == :tou && !current_user_profile.set_up? %>
			<%= f.radio_group :medical_disclaimer, options: {radio_class: "hidden-radio hidden-radio--cta", group_options: {field_class: "toggler", validators: [{kind: :acceptance}]}} %>
			<%= f.radio_group :opt_in, options: {radio_class: "hidden-radio hidden-radio--cta", group_options: {field_class: "toggler", tooltip: true}} %>
		<% end %>
		<%= f.submit class: 'cta cta--is-form-submit container--is-centered' %>
	<% end %>
<% end %>
