<div class="login">
	<h1>Forgot your password?</h1>
	<%= vuelidate_form_for(resource, as: resource_name, url: password_path(resource_name), required_all: true, html: { method: :post, class: "big centered" }) do |f| %>
	  <%= render "devise/shared/error_messages", resource: resource %>
	  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
	  <%= f.submit "Send me reset password instructions", :class => "cta" %>
	  <div class="additional"><%= render "devise/shared/links" %></div>
	<% end %>
</div>
