<div class="bubble">
  My
  <strong class="category">
    <% if inst == :genitals && !@user.genital_name.empty? %>
      <%= @user.genital_name%>
    <% elsif inst == :anus && !@user.anus_name.empty?%>
      <%= @user.anus_name%>
    <% else %>
      <%= inst %>
    <% end %>
    <br>
  </strong>
  <div class="hidden">
    <%= t.fields_for :contacts do |builder| %>
      <% contact_types.each do|c_type, insts| %>
        <div class="contact-type">
          <span class="category">
            > <%= c_type %>
            <%= @pronoun[:possessive] %>
          </span>
          <br>
          <div class="hidden">
            <% insts[:partner_instruments].each do |p_instrument| %>
              <%= builder.check_box :partner_inst, {}, p_instrument, nil %>
              <% if (p_instrument == :genitals || p_instrument == :genitals_penetrative) && !@partner.genital_name.empty?%>
                <%= @partner.genital_name %>
              <% elsif p_instrument == :anus && !@partner.anus_name.empty? %>
                <%= @partner.anus_name  %>
              <% elsif p_instrument == :hand_penetrative %>
                hand
              <% else %>
                <%= p_instrument %>
              <% end %>
              <%= builder.hidden_field :user_inst, value: insts[:user_instrument] %>
              <%= builder.check_box :barriers %> with a barrier
              <% if p_instrument == :toys || insts[:user_instrument] == :toys %>
                (or sanitized)
              <% end %>
              <br>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
