<%= body_class 'is-dark has-cards' %>
<% if @has_partners %>
	<% trans_key = @is_partner ? '.with_partner' : '.all' %>
	<% first_partner = @partnerships[0] || {} %>
	<h2 class="centered-text"><%= t(".title.#{trans_key}", partner_name: first_partner["display"]) %></h2>
	<div class="desc"><%= link_to(t(".all"), encounters_path) if @is_partner %></div>
	<encounter-calendar :partnerships="<%= @partnerships.to_json %>">
		<h3><%= t(".no_encounters.#{trans_key}", partner_name: first_partner["partner_name"]) %></h3>
	</encounter-calendar>
	<div><%= link_to '', @is_partner ? new_partnership_encounter_path(first_partner["_id"]) : encounters_who_path, title: t(".new"), class: "cta cta--is-add-button"%></div>
<% else %>
	<h1 class="with-desc"><%= t('.no_partners.title') %></h1>
	<h2 class="desc"><%= t('.no_partners.desc') %></h2>
	<%= link_to t('.make_partner'), new_partnership_path, :class => "link" %>
<% end %>
