<div class="dashes hidden to-hide"></div>
<div class="center">
  <h2>Recent Encounters:</h2>
    <ul>
      <li><% @encounters.each do |encounter| %>
          <br><%= link_to encounter.took_place, encounter_path(encounter) %>: <br>
          <%= encounter.partner.name %><br>
          Risk level:
          <% if encounter.risk <= 4 %>
            <span class="low">low</span>
          <% elsif encounter.risk <= 8 %>
            <span class="medium">medium</span>
          <% else %>
            <span class="high">high</span>
          <% end %><br>
        <% end %>
      </li>
    </ul>
    <br>
    <%= form_tag new_encounter_path, method: :get%>
    New Encounter with:
    <%= select_tag :partner_id, options_from_collection_for_select(@partners, :id, :name), id: "partner-select" %>
    <%= submit_tag "Create", id: "new-encounter" %>
  </div>
