<div class="dashes hidden to-hide"></div>
<div class="center"><%= form_for @encounter do |t|%>
  New Encounter with <%= @partner.name %>
  <br>
  <br>
  Took place on: <br>
  <%= t.date_select :took_place %>
  <br>
  <br>
  Self-assessed risk: <%= t.select :self_risk, options_for_select(1..10) %><br>
  <br>
  <%= t.label :notes %><br>
  <%= t.text_area :notes %><br>
  <%= t.hidden_field :partner_id, value: @partner.id %>
  <br>
    <% @possibilities.each do |possibility| %>
      My
      <% if (possibility[:user_instrument] == :genitals || possibility[:user_instrument] == :genitals_penetrative) && !@user.genital_name.empty? %>
        <strong><%= @user.genital_name%></strong>
      <% elsif possibility[:user_instrument] == :anus && !@user.anus_name.empty?%>
        <strong><%= @user.anus_name%></strong>
      <% elsif possibility[:user_instrument] == :hand_penetrative %>
        <strong>hand</strong>
      <% else %>
        <strong><%= possibility[:user_instrument] %></strong>
      <% end %>
      <br>
      <%= t.fields_for :contacts do |builder| %>
      <% possibility[:partner_instruments].each do |partner_instrument| %>
        <%= render partial: "contact", locals: ({builder: builder, u_instrument: possibility[:user_instrument], p_instrument: partner_instrument, user: @user}) %>
      <% end %>
    <% end %>
    <br>
  <% end %>
  <%= t.check_box :fluid, value: true %>fluid exchange not accounted for (e.g. ejaculate in eyes, nose, or open cuts)<br>
  <br>
  <%= t.submit %>
<% end %>
</div>
