<h2>Tell us about your sex with <%= @partner.name %></h2>
<%= vuelidate_form_with model: @encounter, url: [@partnership, @encounter], html: {class: "centered"} do |f| %>
	<%= f.date_field :took_place %>
	<%= f.text_area :notes %>
	<%= f.check_box :fluids %>
	<%= f.range_field :self_risk, in: 1..10 %>

	<dynamic-field-list component-type="encounter-contact-field" :tabbable="true" :list="vf.formData.encounter.contacts" base-name="<%= f.object_name %>[contacts_attributes]"></dynamic-field-list>

	<%#= f.fields_for :contacts  do |cf| %>
		<%#= cf.collection_check_boxes :barriers, Contact::BarrierType::TYPES.values, :key, :key %>
	<%# end %>
	<%#= render "contact_fields",  f:f, partner: @partner %>
	<%= f.submit %>
<% end %>
