<div class="dashes hidden to-hide"></div>
<div class="center">
  <%= form_for @encounter do |t|%>
    New Encounter with <%= @partner.name %>
    <br>
    <br>
    Took place on: <br>
    <%= t.date_select :took_place %>
    <br>
    <br>
    Self-assessed risk: <%= t.select :self_risk, options_for_select(1..10) %><br>
    <br>
    <%= t.label :notes %><br>
    <%= t.text_area :notes %><br>
    <%= t.hidden_field :partner_id, value: @partner.id %>
    <br>
    <% @possibilities.each do |inst, contact_types| %>
      <%= render partial: "contact", locals: ({inst: inst, contact_types: contact_types, user: @user, t: t}) %>
      <br>
    <% end %>
    <br>
    <%= t.check_box :fluid, value: true %>fluid exchange not accounted for (e.g. ejaculate in eyes, nose, or open cuts, fluids transferred through indirect contact)<br>
    <br>
    <%= t.submit %>
  <% end %>
</div>
