<% body_class 'is-dark-contrast' %>
<h1><%= t(".took_place", {took_place: l(@encounter.took_place, format: :long_date)}) %></h1>
<h2><%= t('.title', partner: @partner.name) %></h2>
<div>
	<bubble target="progbar-benchmark" position="top" add-class="bubble-above" theme="dark"><%= t(".self_risk_html", {risk_level: t("diagnosis.transmission_risk.risk_level", {count: @encounter.self_risk})}) %></bubble>
	<prog-bar :benchmark="<%= @encounter.self_risk %>" :max="<%= Diagnosis::TransmissionRisk::HIGH %>" :progress="<%= @encounter.overall_risk %>" :middle="<%= Diagnosis::TransmissionRisk::MODERATE %>" :log-scale="true"></prog-bar>
	<bubble target="progbar-fill" position="bottom-end" add-class="bubble-below" theme="dark"><%= t(".overall_risk_html", {risk_level: t("diagnosis.transmission_risk.risk_level", {count: @encounter.overall_risk})}) %></b></bubble>
</div>

<% if @encounter.notes.present? %>
<div class="container--has-centered-text">
	<h3 class="with-desc"> <%= t('.notes.title') %></h3>
	<p class="desc"><b><%= @encounter.notes %></b></p>
</div>
<% end %>
<h3 class="container--has-centered-text"><%= t('.breakdown') %></h3>

<drop-down class="container--is-rounded container--has-gray-background encounter-show-container" arrow-class="link link--is-dark-theme--is-secondary cta--is-arrow--is-medium" :title-button="true" id="contact-review">
	<h4 class="container--is-rounded__title light-purple-text" slot="title"><%= t('.sex.title') %></h4>
	<div>
		<%= display_contacts @encounter %>
		<p class="contacts-show__fluids"><b class="fluids__title"><%= t('.sex.fluid_exchange') %></b> <span class="fluids__response"><%= t(@encounter.fluids ? 'yes' : 'no') %></span></p>
	</div>
</drop-down>
<drop-down arrow-class="link link--is-dark-theme--is-secondary cta--is-arrow--is-medium" :title-button="true" class="container--is-rounded container--has-dark-gray-background encounter-show-container" id="risk-review">
	<h4 class="container--is-rounded__title" slot="title"><%= t('.risks.title') %></h4>
	<%= display_risks @encounter %>
</drop-down>

<drop-down class="container--is-rounded container--has-dark-background encounter-show-container" arrow-class="link link--is-dark-theme--is-secondary cta--is-arrow--is-medium" :title-button="true" :start-open="true" id="schedule-review">
	<h4 class="container--is-rounded__title" slot="title"><%= t('.advice.title') %></h4>
	<% if @encounter.schedule.any? %>
		<content-requester toggle-back="<%= t('.advice.hide_lower_risk') %>" toggle-class="link--is-dark-theme--is-secondary">
			<%= display_schedule @encounter, :"slot-scope" => "{clickHandler, show}" do %>
				<br><a class="link link--is-dark-theme--is-secondary" href="<%= partnership_encounter_path(@partnership, @encounter, {force: true}) %>" @click="clickHandler"><%= t('.advice.show_anyway') %></a>
			<% end %>
		</content-requester>
		<% if @force %>
			<%= link_to t('.advice.hide_lower_risk'), partnership_encounter_path(@partnership, @encounter), class: "link link--is-dark-theme--is-secondary" %>
		<% end %>
	<% else %>
		<p><%= t('.advice.no_schedule') %></p>
	<% end %>
</drop-down>


<% if current_user_profile.first_time? %>
	<%= link_to t(".continue_first_time"), first_time_path, class: 'link' %>
<% else %>
	<%= link_to t(".edit"), edit_partnership_encounter_path(@partnership, @encounter), {class: 'cta--is-floating-right link'} %>
<% end %>
