<div class="center">
  <h2>Encounter with <%= @partner.name %></h2>
  <hr>
  Date: <%= @encounter.took_place %><br>
  Self-assessed risk level:
  <%= @encounter.self_risk %><br>
  App-assessed risk level:
  <% if @encounter.risk <= 4 %>
    <span class="low">low</span>
  <% elsif @encounter.risk <= 8 %>
    <span class="medium">medium</span>
  <% else %>
    <span class="high">high</span>
  <% end %><br>
  Notes: <%= @encounter.notes %><br>
  <br>
  <% @possibilities.each do |inst, contact_types| %>
    <% contact_types.each do|c_type, insts| %>
      <% insts[:partner_instruments].each do |p_instrument| %>
        <% if @encounter.has_contact?(insts[:user_instrument], p_instrument) %>
          Your
          <span class="highlight">
            <% if inst == :genitals && !@user.genital_name.empty? %>
              <%= @user.genital_name%>
            <% elsif inst == :anus && !@user.anus_name.empty?%>
              <%= @user.anus_name%>
            <% else %>
              <%= inst %>
            <% end %>
          </span>
          <% if c_type == "was penetrated by" && (insts[:user_instrument] == :toys || (insts[:user_instrument] == :genitals && (@user.genital_name.empty? || @user.genital_name.last == "s")))%>
            were penetrated by
          <% else %>
            <%= c_type %>
          <% end %>
          <%= @pronoun[:possessive] %>
          <span class="highlight">
            <% if (p_instrument == :genitals || p_instrument == :genitals_penetrative) && !@partner.genital_name.empty?%>
              <%= @partner.genital_name %>
            <% elsif p_instrument == :anus && !@partner.anus_name.empty? %>
              <%= @partner.anus_name  %>
            <% elsif p_instrument == :hand_penetrative %>
              hand
            <% else %>
              <%= p_instrument %>
            <% end %>
          </span>
          <% if @encounter.has_barriers?(insts[:user_instrument], p_instrument) %>
            <%= "with a barrier" %>
          <% else %>
            <%= "without a barrier" %>
          <% end %>
          <br>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  Fluid exchange: <%= @encounter.fluid %> <br>
  <br><%= link_to "edit", edit_encounter_path(@encounter)%></div>
