<%= render 'forms/basic_form', back_path: @partnership, header_text: t(".partner_html", {name: @partnership.partner.name}) do %>
	<ul class="--is-unstyled container--has-centered-text">
		<li><%= link_to t_action(".edit_partner_profile", name: @partnership.partner.name), edit_partnership_profile_path(@partnership), class: "link" if @partnership.partner.is_base? %></li>
		<li><%= link_to t_action(".edit_partner_uid"), partnership_who_path(@partnership), class: "link" %></li>

	</ul>
	<%= vuelidate_form_with model: @partnership, html: {class: "centered"} do |f| %>
		<%= f.text_field :nickname, tooltip: true %>
		<%= render "fields", f: f %>
		<%= f.submit class: "cta cta--is-form-submit" %>
	<% end %>
<% end %>
