<div class="right">
    <div id="wrapper">
      <h2>Partners within your risk windows:</h2>
      <ul>
      <% @at_risk.each do |partnership| %>
        <li>
          <%= partnership.partner.name %>
        </li>
        <br>
      <% end %>
      </ul>
      <br>
      <br>
      <br>
      <h2><%= link_to "Add New Partner", new_partnership_path %></h2>
    </div>
  </div>
  <div class="dashes"></div>
<div class="center">
  <h2>Your PartneringId: <%= @user.uid %></h2>
  <%= link_to "Share" %>
  <br>
  <br>
  <% @partnerships.each do |partnership| %>
  <div class="bubble">
    <h2><%= link_to partnership.partner.name, partnership_path(partnership) %></h2>
    <strong>Most recent encounter:</strong><br>
    <% if partnership.most_recent %>
      Fluid exchange: <%= partnership.most_recent.fluid %><br>
      date: <%= partnership.most_recent.took_place %><br>
      Self-assessed risk level: <%= partnership.most_recent.self_risk %><br>
      App-assessed risk:
      <% if partnership.most_recent.risk <= 4 %>
        <span class="low">low</span>
      <% elsif partnership.most_recent.risk <= 8 %>
        <span class="medium">medium</span>
      <% else %>
        <span class="high">high</span>
      <% end %><br>
      Notes: <%= partnership.most_recent.notes %><br>
    <% end %>
  </div>
  <br>
  <% end %>
  <%= link_to "Add New Partner", new_partnership_path %>
  </div>


