<div class="center">
  <h2>Partners <span class="help plus"><a href=<%= new_partnership_path %>><%= image_tag "plus.png" %></a></span></h2>
  <hr>
  <strong>Your UID: <%= @user.uid %>
    <span class="help">
      <%= image_tag "help.png" %>
      <div class="info bubble normal">
        <strong>What is a uid?</strong>
        <br>
        Your uid allows you to connect with partners who are also using BedPost to track their risks. Giving a person your uid <em>will not</em> give them access to any of the private information that you record with BedPost. They <em>cannot</em> see your partners, your encounters, or your test results. It <em>will</em> allow them to see your profile preferences such as your name, pronouns, and what you call your body parts. It will also allow BedPost to use your contact information—without providing it to your partner—if they need to inform you of a positive test.
      </div>
    </span>
  </strong>
  <br>
  <%= link_to "Share" %> or <%= link_to "Edit", edit_profile_path(@user) %>
  <br>
  <br>
  <% @partnerships.each do |partnership| %>
  <div class="bubble partner">
    <h2><%= link_to partnership.partner.name, partnership_path(partnership) %></h2>
    <strong>Most recent encounter:</strong><br>
    <% if partnership.most_recent %>
      Fluid exchange: <%= partnership.most_recent.fluid %><br>
      date: <%= partnership.most_recent.took_place %><br>
      Self-assessed risk level: <%= partnership.most_recent.self_risk %><br>
      App-assessed risk:
      <% if partnership.most_recent.risk <= 4 %>
        <span class="low">low</span>
      <% elsif partnership.most_recent.risk <= 8 %>
        <span class="medium">medium</span>
      <% else %>
        <span class="high">high</span>
      <% end %><br>
      Notes: <%= partnership.most_recent.notes %><br>
    <% end %>
  </div>
  <br>
  <% end %>
  </div>


