<div class="centered-container">
	<h2><%= t(".partner_html", {name: @partnership.partner.name}) %></h2>
	<%= vuelidate_form_with model: @partnership, html: {class: "centered"} do |f| %>
		<%= f.hidden_field :partner_id %>
		<%= f.wizard "{stepClass: 'step'}" do %>
			<%= render "fields", f: f %>
			<% content_for :last_button do %>
				<%= f.submit nil, class: "not-button"%>
			<% end %>
			<% content_for :additional do %>
				<div v-if="addSlot.curOpts.showAdditional" class="additional">
					<p><%= f.toggle_tag :why, :":symbols" => "'Why does this matter?'" %></p>
					<p v-show="toggles['why']">
						{{$root.t(`partnerships.new.why.${addSlot.curField}`)}}
					</p>
					<p><%= f.toggle_tag :how, :":symbols" => "'How does BedPost use this information?'"  %></p>
					<p v-show="toggles['how']">
						{{$root.t(`partnerships.new.how.${addSlot.curField}`)}}
					</p>
				</div>
			<% end %>
		<% end %>
	<% end %>
	<%= link_to t(".back"), who_path, "data-animation-type" => "slideRight" if @partnership.partner.is_a?(UserProfile) %>
</div>
