<div class="centered-container">
	<h1><%= t('.title_html') %></h1>
	<h2><%= t('.desc_html') %></h2>
	<%= vuelidate_form_with model: @partnership, html: {class: "centered"}, vue: {':dynamic-validation' => "additional.uid"} do |f| %>
		<%= f.wizard "{stepClass: 'step card'}" do %>
			<%= f.step true do %>
				<%= f.fields_for :partner do |pf1| %>
					<%= pf1.text_field :name,
						tooltip: true,
						required: false,
						in_step: true,
						validators: [{kind: :require_unless_valid, options: {path: :uid}}]
					%>
				<% end %>
				<h4>OR</h4>
				<%= f.text_field :uid,
					tooltip: true,
					is_step: false,
					in_step: true,
					field_options: {
						'@input-blur' => 'additionalField("uid", arguments[1])'
					},
					validators: [{kind: :require_unless_valid, options: {path: 'partner_attributes.name'}}]
				%>
			<% end %>

			<%= render "fields", f: f, partnership: @partnership %>
			<%= f.text_field(:nickname, tooltip: {show_always: true}) %>

			<%= f.step true, :"v-if" => '!vf.formData.uid || vf.$v.formData.uid.$invalid', ref: 'partner_attributes' do %>
				<%= f.fields_for :partner do |pf2| %>
					<%= render 'profiles/fields', f: pf2, profile: @partnership.partner, show_name: false %>
				<% end %>
			<% end %>
			<% content_for :last_button do %>
				<%= f.submit nil, :":class"=>'["not-button"]'%>
			<% end %>
		<% end %>
	<% end %>
</div>
