<%= body_class 'is-dark' %>
<h1><%= t('.title') %></h1>
<h2 class="desc"><%= t(".partner_html", {name: @partnership.display}) %></h2>
<div v-show="!additional.showList" class="partnership-chart-container">
	<partnership-chart :partnership="<%= @partnership.to_json({only: Partnership::LEVEL_FIELDS}) %>"></partnership-chart>
	<h3 class="partnership-chart-container__title"><%= t('.chart.desc') %></h3>
</div>
<ul class="--is-unstyled partnership-show" v-show="additional.showList">
	<% Partnership::LEVEL_FIELDS.each do |field| %>
	<li>
		<h4 class="heading--has-half-margin partnership-show__field"><%= t(field, scope: 'helpers.label.partnership') %></h4>
		<p class="desc partnership-show__response"><%= t(field, scope: 'helpers.sliders.partnership', count: @partnership[field]) %></p>
	</li>
	<% end %>
</ul>
<div class="container--has-centered-text">
	<toggle-switch :symbols="['chart_view', 'list_view']" :vals="[false, true]" translate="partnerships.show.chart" field="showList" :val="additional.showList" @toggle-event="additionalField" @toggle-mounted="additionalField('showList', false)" id="view-toggle"></toggle-switch>
</div>

<div class="additional">
	<% if @partnership.encounters.size > 0 %>
		<p>
			<%= link_to t(".encounters", {name: @partnership.partner.name}), encounters_path, class: "link" %>
		</p>
	<% end %>
	<p>
		<%= link_to t(".new_encounter", {name: @partnership.partner.name}), new_encounter_path(partnership_id: @partnership.id), class: "link" %>
	</p>
	<p><%= link_to t(".edit"), edit_partnership_path(@partnership), class: "link" %></p>
	<p>
		<%= confirm_link_to t(".destroy.text"), partnership_path(@partnership), method: :delete, alert_class: "confirmation", data: {confirm: t(".destroy.confirm")}, class: "link" %>
	</p>
	<p>
		<%= link_to t(".back"), partnerships_path, class: "cta cta--is-back-btn" %>
	</p>
</div>
