<h2><%= t(".partner_html", {name: @partnership.partner.name, nickname: @partnership.nickname}) %></h2>
<% Partnership::LEVEL_FIELDS.each do |field| %>
	<div><%= t(".level_field_html", {level: @partnership[field], field: field}) %></div>
<% end %>
<p><%= link_to t(".back"), partnerships_path %></p>
<p><%= link_to t(".edit"), edit_partnership_path(@partnership) %></p>
<p>
	<!-- <span role="alert">{{confirmations['destroy_partnership']}}</span> -->
	<%= confirm_link_to t(".destroy"), partnership_path(@partnership), method: :delete, alert_class: "confirmation" %>
</p>
