<% body_class 'is-dark vertical-center' %>
<% content_for :inner_class, 'container--is-full-height container--has-centered-child' %>
<div class="container--has-centered-child__centered-child first-time">
	<h1><%= t(@has_partnerships ? ".header2" : ".header", name: current_user_profile.name) %></h1>
	<% if @has_partnerships %>
		<p class="container--has-centered-text"><%= t(".desc2", {count: @num_partnerships, partner_name: @num_partnerships > 1 ? nil : @first_partner.partner.name}) %></p>
	<% else %>
		<h2><%= t(".desc") %></h2>
	<% end %>
	<ul class="button-list">
		<li class="button-list__item"><%= link_to new_partnership_path, {class: "cta cta--is-square", data: {animation_type: 'slideLeft'}} do %>
				<span class="cta--is-square__heading"><%= t(".add_partnership", {count: @num_partnerships}) %></span>
			<% end%>
		</li>
		<% if @has_partnerships %>
			<li class="button-list__item">
				<%= link_to new_encounter_path , {class: "cta cta--is-square", data: {animation_type: 'slideLeft'}} do %>
					<span class="cta--is-square__heading"><%= t(".add_encounter") %></span>
				<% end %>
			</li>
		<% end %>
	</ul>
</div>
<div class="container--has-centered-text" id="exit-tour-button">
	<%= button_to t(".exit"), first_time_path, {method: :post, class: 'cta cta--is-secondary container--is-centered'} %>
</div>
