<% body_class 'is-dark vertical-center' %>
<% content_for :inner_class, 'container--is-full-height container--has-centered-child' %>
<div class="container--has-centered-child__centered-child first-time">
	<h1 class="heading--no-margin-top"><%= t(@has_partnerships ? ".header2" : ".header", name: current_user_profile.name) %></h1>
	<% if @has_partnerships %>
		<p class="container--centered-text"><%= t(".desc2", {count: @num_partnerships, partner_name: @num_partnerships > 1 ? nil : @first_partner.partner.name}) %></p>
	<% else %>
		<h2><%= t(".desc") %></h2>
	<% end %>
	<ul class="first-time__button-list no-dots">
		<li class="first-time__button-item"><%= link_to new_partnership_path, {class: "cta cta--square", data: {animation_type: 'slideLeft'}} do %>
				<span><%= t(".add_partnership", {count: @num_partnerships}) %></span>
			<% end%>
		</li>
		<% if @has_partnerships %>
			<li class="first-time__button-item">
				<%= link_to (@num_partnerships == 1 ? new_partnership_encounter_path(@first_partner) : encounters_who_path) , {class: "cta cta--square", data: {animation_type: 'slideLeft'}} do %>
					<span><%= t(".add_encounter") %></span>
				<% end %>
			</li>
		<% end %>
	</ul>
</div>
<div class="container--centered-text" id="exit-tour-button">
	<%= button_to t(".exit"), first_time_path, {method: :post, class: 'cta cta--is-secondary'} %>
</div>
