<div class="login">
    <h1>Sign up</h1>
    <valid-form inline-template>
        <%= form_for @user_profile, url: user_profile_path, html: {"@submit"=>"validateForm", class: "centered"} do |f| %>
        <%= f.label :name %>
        <div v-if="$v.name.$dirty && !$v.name.required">
          This field is required.
        </div>
        <%= f.text_field :name, "v-model"=>"name", "@blur"=>"$v.name.$touch()"%>
        <%= f.label :email %>
        <%= f.text_field :email %>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
        <%= f.submit id: "signup-submit" %>
        <p>
            Already have an account? <%= link_to "Log In", login_path %>
        </p>
        <% end %>
    </valid-form>

</div>
