<div class="login">
    <h1>Sign up</h1>
    <valid-form inline-template>
        <%= vuelidate_form_for @user_profile, url: user_profile_path, html: {class: "centered"} do |f| %>
        <%= f.text_field :name%>
        <%= f.text_field :email %>
        <%= f.password_field :password %>
        <%= f.password_field :password_confirmation %>
        <%= f.submit id: "signup-submit" %>
        <p>
            Already have an account? <%= link_to "Log In", login_path %>
        </p>
        <% end %>
    </valid-form>

</div>
