<div id="vue-container" class="<%= container_class %>">
  <%= render "nav" unless current_user_profile.first_time?%>
  <header class=<%=current_user_profile.present? && !current_user_profile.first_time? ? "small" : ""%>>
    <% if current_user_profile.first_time? %>
      <span id="logo">Bed<span>Post</span></span>
    <% else %>
      <%= link_to root_path, id: "logo" do %>
      Bed<span>Post</span>
      <% end %>
    <% end %>
  </header>
  <main id="page-container" ref="container">
    <div id="page-container-inner">
      <div id="flash">
        <noscript><div id="no-js-warning"><%= t(:no_script) %></div></noscript>
        <% if flash[:error] %><div class="flash-error"><%= flash[:error] %></div><% end %>
        <% if notice %><div class="flash-notice"><%= notice %></div><% end %>
        <% if alert %><div class="flash-alert"><%= alert %></div><% end %>
        <% if flash[:message] %>
          <% flash[:message].each do |key, message| %>
            <% message.each do |msg| %>
              <div class="flash-message"><%= "#{key}: #{msg}" unless key == :timedout %></div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div id="page-content">
        <button type="button" @click="loadTour" v-if="hasTour" class="tourguide-button" title="<%= t("guide_button") %>">?</button>
        <%= yield %>

      </div>
      <% unless current_user_profile.present? %><tour-holder :steps="tourSteps" @tour-stopped="onTourStop"></tour-holder><% end %>
    </div>
  </main>
</div>
