<nav-component v-slot="{isOpen, toggleMenu}">
<nav id="nav" role="navigation" class="main-nav <%= content_for :nav_class %>">
	<button class="main-nav__burger" :class="{'main-nav__burger--open': isOpen, 'main-nav__burger--closed': !isOpen}" @click.stop="toggleMenu" type="button" :aria-expanded="isOpen ? 'true' : 'false'" aria-controls="nav-list">
		<div class="main-nav__burger__line"></div>
		<div class="main-nav__burger__line"></div>
		<div class="main-nav__burger__line"></div>
		<div class="aria-only"><%= t("helpers.navigation_menu") %></div>
	</button>
	<div class="main-nav__menu" ref="menu">
		<div class="main-nav__menu-inner">
			<ul id="nav-list" class="main-nav__list">
				<li class="main-nav__list-item main-nav__list-item--user-name"><%= current_user_profile.name %></li>
				<% ApplicationHelper::NAV_LINKS.each do |key, path| %>
					<li class="main-nav__list-item">
						<% if local_assigns[:first_time] %>
							<a class="link main-nav__list-item__link main-nav__list-item__link--not-selected" disabled><%= t(key) %></a>
						<% else %>
							<%= link_to_unless_current(t(key), path, class: 'link main-nav__list-item__link main-nav__list-item__link--not-selected') do %>
							<span class="main-nav__list-item__link main-nav__list-item__link--selected"> <%= t(key) %> </span>
							<%end%>
						<% end %>
					</li>
				<% end %>
				<li class="main-nav__list-item"><%= button_to "Log out", destroy_user_profile_session_path, method: "delete", class: "link main-nav__list-item__link main-nav__list-item__link--not-selected" %></li>
			</ul>
			<% content_for :footer_class, 'footer--is-in-nav' %>
			<%= render partial: 'footer' %>
		</div>
	</div>
</nav>
</nav-component>
