<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Bedpost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri|Lily+Script+One|Londrina+Shadow" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'utils' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= include_gon %>
    <div id="vue-container" class="no-js">
      <%= render "nav", nav_links: ApplicationHelper::NAV_LINKS %>
      <header class=<%=current_user ? "small" : ""%>>
        <%= link_to root_path, id: "logo" do %>
          Bed<span>Post</span>
        <% end %>
      </header>
      <main id="page-container">
        <div id="flash">
          <noscript><div id="no-js-warning"><%= t(:no_script) %></div></noscript>
          <%= flash[:error] %>
          <% if flash[:message] %>
          <% flash[:message].each do |key, message| %>
          <% message.each do |msg| %>
          <div><%= key + ": " + msg %></div>
          <% end %>
          <% end %>
          <% end %>
        </div>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
