<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Bedpost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Hind+Vadodara:400,700|Lily+Script+One|Londrina+Shadow" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= content_tag :script, nonce: true, id: "locale", type: "application/json" do %>
      <%= render file: "#{Rails.root}/app/javascript/locales/#{I18n.locale || I18n.default_locale}.json"%>
    <% end %>

    <%= javascript_tag nonce: true do%>
      const jsonNode = document.getElementById("locale");
      const jsonText = jsonNode.textContent;
      const jsonData = JSON.parse(jsonText);

      window.I18nConfig = {
        defaultLocale: "<%= I18n.default_locale %>",
        locale: "<%= I18n.locale %>",
        translations: jsonData
      };
    <% end %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'runtime' %>
    <%= javascript_pack_tag 'utils' %>
    <%= javascript_pack_tag 'application' %>


    <% if Rails.env.development? %>
      <style>
        .translation_missing {
          background-color: lightcoral;
        }
      </style>

      <%= javascript_tag nonce: true do %>
        RACK_LIVERELOAD_PORT = 35729;
      <% end %>
      <script type="text/javascript" src="http://localhost:35729/livereload.js?"></script>
    <% end %>
  </head>

  <body>
    <%= javascript_tag nonce: true do%>
      <%= include_gon(need_tag: false)%>
    <% end %>

    <%= render "app_inner", c_user_name: current_user ? current_user.name : nil, container_class: "no-js", is_js: false %>
  </body>
</html>
