<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
	<head>
		<title>Bedpost</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link href="https://fonts.googleapis.com/css?family=Baloo|Open+Sans:400,700,800&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

		<%= javascript_tag nonce: true do%>
			window.I18nConfig = {
				defaultLocale: "<%= I18n.default_locale %>",
				locale: "<%= I18n.locale %>"
			};
		<% end %>
		<%= javascript_include_tag 'application' %>
		<%= javascript_pack_tag 'runtime' %>
		<%= javascript_pack_tag 'application' %>


		<% if Rails.env.development? %>
			<style>
				.translation_missing {
					background-color: lightcoral;
				}
			</style>

			<%= javascript_tag nonce: true do %>
				RACK_LIVERELOAD_PORT = 35729;
			<% end %>
			<script type="text/javascript" src="http://localhost:35729/livereload.js?"></script>
		<% end %>
	</head>

	<body class="<%= content_for :body_class %>">
		<%= javascript_tag nonce: true do%>
			<%= include_gon(need_tag: false)%>
		<% end %>

		<div id="vue-container" class="no-js">
			<%= yield :nav%>
			<%= yield :header %>
			<main id="page-container" ref="container">
				<div id="page-container-inner" class="<%= content_for :inner_class %>">
					<%= render "flash" %>
					<%= yield :main %>
				</div>
			</main>
		</div>
	</body>
</html>
