<!DOCTYPE html>
<html>
  <head>
    <title>Bedpost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri|Lily+Script+One|Londrina+Shadow" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div id="vue-container">
      <%= render "layouts/nav" %>
      <div id="logo" class=<%=current_user ? "small" : ""%>>Bed<span>Post</span></div>

      <div id="flash">
        <%= flash[:error] %>
        <% if flash[:message] %>
        <% flash[:message].each do |key, message| %>
        <% message.each do |msg| %>
        <div><%= key + ": " + msg %></div>
        <% end %>
        <% end %>
        <% end %>
      </div>
      <div id="page-container"><%= yield %></div>
    </div>
  </body>
</html>
