<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
	<head>
		<% unless analytics_id.nil? %>
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=<%= analytics_id %>"></script>
		<% end %>
		<%= javascript_tag nonce: true do%>
			window.I18nConfig = {
				defaultLocale: "<%= I18n.default_locale %>",
				locale: "<%= I18n.locale %>"
			};

			wiindow.pageloadEventName = 'bedpost:pageload';

			window.clearTiming = function() {
				performance.clearMeasures();
				performance.clearMarks();
				performance.mark(window.pageloadEventName);
			}
		<% end %>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3.0, minimum-scale=1">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link href="https://fonts.googleapis.com/css?family=Baloo|Open+Sans:400,700,800&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

		<%= javascript_include_tag 'application' %>
		<%= javascript_pack_tag 'runtime' %>
		<%= javascript_pack_tag 'application' %>


		<% if Rails.env.development? %>
			<style>
				.translation_missing {
					background-color: lightcoral;
				}
			</style>

			<%= javascript_tag nonce: true do %>
				RACK_LIVERELOAD_PORT = 35729;
			<% end %>
			<script type="text/javascript" src="http://localhost:35729/livereload.js?"></script>
		<% end %>
	</head>

	<body class="<%= body_class %>">
		<%= javascript_tag nonce: true do%>
			<%= include_gon(need_tag: false)%>
				window.clearTiming();

			<% unless analytics_id.nil?  %>
				// google analytics pageview
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());

				<% if user_profile_signed_in? %>
					gtag('set', {'user_id': '<%= current_user_profile._id %>'});
					gtag('set', 'dimension1', '<%= pronouns.find {|p| p.id == current_user_profile.pronoun_id }.display %>');
					gtag('set', 'dimension2', '<%= current_user_profile.can_penetrate %>');
					gtag('set', 'dimension3', '<%= current_user_profile.has_internal? %>')
				<% end %>

				var pageName = document.location.pathname.replace(/[a-f\d]{24}/gi, "*");
				gtag('set', 'page_path', pageName);

				var gtagConfig = {
					'link-attribution': {
						'levels': 5,
					},
					'anonymize_ip': true,
				}

				if (typeof navigator.sendBeacon == 'function') {
					gtagConfig['transport_type'] = 'beacon'
				}

				gtag('config', '<%= analytics_id %>', gtagConfig);
			<% end %>
		<% end %>

		<div id="vue-container" class="no-js <%= content_for :body_inner_class %>">
			<%= yield :nav%>
			<%= yield :header %>
			<main id="page-container" ref="container" class="<%= content_for :main_class %>">
				<div id="page-container-inner" class="<%= content_for :inner_class %>">
					<%= render "flash" %>
					<%= yield %>
				</div>
			</main>
			<tour-holder :steps="tourSteps" @tour-stopped="onTourStop" @tour-started="onTourStart" :tour-runs="tourRuns"></tour-holder>
			<footer>
				<%= yield :footer %>
			</footer>
		</div>
	</body>
</html>
