<% body_class 'body--has-auth' %>
<% content_for :nav do %>
	<%= render "nav" %>
<% end %>

<% content_for :header  do%>
	<header class="header--is-small">
		<%= link_to 'BedPost', root_path, id: "logo"%>
		<button type="button" @click="loadTour" v-if="hasTour" class="cta cta--tourguide cta--is-secondary" title="<%= t("guide_button") %>">?</button>
	</header>
<% end %>

<% content_for :main do %>
				<%= yield %>

		<tour-holder :steps="tourSteps" @tour-stopped="onTourStop"></tour-holder>
<% end %>

<%= render template: "layouts/application" %>
