<% body_class 'body--has-auth' %>
<% content_for :nav do %>
	<%= render "nav" %>
<% end %>

<% content_for :header do %>
	<header class="header--is-small header--has-nav <%= content_for :header_class %>">
		<%= link_to root_path, id: "logo" do %>
			<%= image_tag "logo/#{theme}.png", alt: "BedPost" %>
		<% end %>
		<button type="button" @click="loadTour" style="display: none;" v-show="hasTour && tourRuns > 0" :disabled="tourRunning" class="cta cta--tourguide cta--is-secondary js-only" title="<%= t("guide_button") %>">?</button>
	</header>
<% end %>

<%= render template: "layouts/application" %>
